@font-face {
  font-family: RubikLight;
  src: url("/src/fonts/Rubik-Light.ttf") format("truetype");
}

@font-face {
  font-family: Rubik;
  src: url("/src/fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: RubikMedium;
  src: url("/src/fonts/Rubik-Medium.ttf") format("truetype");
}
